<div mat-dialog-title>
  <h2>Employee Form</h2>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput  formControlName="firstName" name="firstName"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput  formControlName="lastName" name="lastName"/>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" name="email"/>
      </mat-form-field>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" name="dob"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="gender" name="gender">
        <mat-label><strong>Gender</strong></mat-label>
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="female">Other</mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <input matInput formControlName="company" name="company" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Qualification</mat-label>
        <mat-select formControlName="education" name="education" >
          <mat-option *ngFor="let val of education" [value]="val">
            {{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Experience</mat-label>
        <input type="number" matInput formControlName="experience" name="experience"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Package</mat-label>
        <input type="number" matInput formControlName="package" name="package"/>
        <mat-hint>lpa in Indian rupees</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="actionBtn">
    <button mat-raised-button color="accent" type="submit">{{data ? 'Upadte' :'Save'}}</button>
    <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
